<div class="stats-badge">
  <div class="badge-icon">
    <i class="fa fa-table fa-2x"></i>
  </div>
  <span class="underline">70</span>
  datasets
</div>
<div class="stats-badge">
  <div class="badge-icon">
    <i class="fa fa-ellipsis-h fa-2x"></i>
  </div>
  <span class="underline">599086</span>
  data points
</div>
<div class="stats-badge">
  <div class="badge-icon">
    <i class="fa fa-microscope fa-2x"></i>
  </div>
  <span class="underline">24</span>
  unique assays
</div>
<div class="stats-badge">
  <div class="badge-icon">
    <i class="fa fa-disease fa-2x"></i>
  </div>
  <span class="underline">35</span>
  unique cells/tissues
</div>
