/* Theme overrides ------------------------------ */
/* #1a0d2c is 25% darker than #201037 */
.navbar-default {
   color: #201037     !important;
   font-size: 16px    !important;
   font-weight: bold !important;
}

.top-panel {
  background-color: #f8f4ff  !important;

}

.theme-border {
  border-top:3px solid #6633b1 !important;
}


.alert-info {
  background-color: #201037 !important;
}

.dualDrilldown {
  border-top: 5px solid #6633b1 !important;
}

.logo {
  width: auto;
  height: 35px;
  padding-right: 30px;
}

/* Custom components ------------------------------ */

.stats-badge {
  font-size: 20px;
  padding-bottom: 10px;
}

.badge-icon {
  display: inline-block;
  height: 56px;
  width: 56px; 
  border-radius: 50%;
  background: Tomato;
  text-align: center; 
  font-size: 16px; 
  padding: 12px 10px 10px 10px;
}

.underline {
  border-bottom: 1px solid white;
  padding-bottom: 3px; 
  font-weight: bold;
}

.popover {
  color: darkgray;
  width: 180px;
}

.figure-container {
  cursor: help;
}

.demo-sticker {
  position: absolute;
  z-index: 10;
  /* background-color: #282828; */
  color: white;
  font-family: Consolas,monaco,monospace;
  padding: 1px 5px 1px 5px;
  margin-left: -15px;
  margin-top: -15px;
}

.demo-sticker:visited, .demo-sticker:hover {
  color: lightgray !important;
}

.suggestion {
  color: orange;
}

/* Home ------------------------------ */


#home {
 background-color: #201037;
 margin-right: -15px;
 margin-left: -15px;
}

#header-buffer {
  margin-top: -50px;
  height: 55px;
  background-color: #201037;
}

#header-row {
  padding-bottom: 10px;
}

#main-title {
  font-family: 'Playfair Display', serif;
  font-size: 3vw;
  color: white;
}

#network-graph-container {
  position: absolute;
  margin-left: -120px;
}

.landing-main {
  background-color: #201037;
  color: white;
}

.landing-footer {
  background-color: ghostwhite;
  color: black;
}

.feature-container {
  padding: 25px 70px 30px 90px;
}

.feature-head {
  font-family: 'Oxygen', sans-serif;
  font-size: 1.6vw;
  padding-bottom: 20px;
  line-height: 1.5em;
}

.feature-subtext {
  font-family: 'Quicksand', sans-serif;
  font-size: 1vw;
  padding-bottom: 5px;
}

.more-head {
  font-family: 'Oxygen', sans-serif;
  font-size: 1.2vw;
  padding-bottom: 20px;
  line-height: 1.5em;
}

.more-link {
  font-family: 'Oxygen', sans-serif;
  color: dodgerblue;
  font-size: 0.8vw;
}

.more-subtext {
  font-family: 'Oxygen', sans-serif;
  font-size: 0.8vw;
}



#nPOD-match-CohortX-name {
  color: #444444;
  font-size: 34px;
}



#nodeSelectnPOD-graph-network {
  /* background-color: transparent;
  color: white;
  border: none;
  outline: none; 
  */
  visibility: hidden;
}




