<div class="alert alert-dismissible alert-info">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  DataHelper allows basic faceted views of cases (left-hand) and measurement data (right-hand). The two sides are independent (<i class="fas fa-unlink"></i>) unless the option is used to navigate/constrain results left-to-right or right-to-left, i.e. (<i class="fas fa-hand-point-right"></i>) filters data on the right by cases selected on the left and (<i class="fas fa-hand-point-left"></i>) filters cases on the left by data selected on the right. <strong>We recommend using the new <span class="underline"><a href="http://npoddatagraph.westus.azurecontainer.io:7200/" class="alert-link">DataGraph</a> knowledgebase</span> for more semantic, advanced queries of the complete nPOD linked data.</strong>
</div>
